.navbar-brand img {
  width: 200px;
}
li {
  padding: 0 10px;
}
.padd {
  padding: 200px 0;
}

.comment228 {
  padding: 20px 0;
}
.header-message {
  padding: 20px 0;
}
.form-text {
  padding-bottom: 10px;
}
.sas {
  padding-top: 100px;
}
